<html>
    <head>
        <title>Vue Basics</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Vue Basics</h1>
        <div id="app">
            <h2>{{ title }}</h2>
            <p>Hello {{ name }}</p>
            <p v-if="showName">{{ name }}</p>
            <p v-else-if="showAge">{{ age }}</p>
            <button @click="toggleName">{{showName}}</button>
            <button @click="toggleAge">{{showAge}}</button>
            <ul>
                <li v-for="item in items">{{ item }}</li>

            </ul>
            <div v-for="(ninja, index) in ninjas">
                <p>{{index}} - {{ ninja.name }}</p>
                <p>{{ ninja.age }}</p>
            </div>
        </div>
        
        <script src="app.js"></script>
    </body>
</html>